@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: none;
    font-family: Montserrat, sans-serif;
}

body{
    /*background: #000;*/
    min-height: 200vh;
    width: 100vw;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%!important;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 100;
}

header.sticky {
    padding: 10px 100px;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}



.mobile-menu-icon {
    display: none;
    font-size: 44px;
    color: white;
    cursor: pointer;
}


.hero_logo{
    position: relative;
    transition: 0.6s;
}

.logo_img {
    transition: src 0.6s ease; /* Adjust the duration and timing function as needed */
}

header ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    gap: 15px;
}

header ul li {
    /*background: blue;*/
    position: relative;
    list-style: none;
    text-align: center;
    padding: 0 10px;
}

/*header ul li:not(:last-child) {*/
/*    background: red;*/
/*    padding-right: 8px;*/
/*    margin-right: 8px;*/
/*    border-right: 1px solid #fff;*/
/*}*/

header ul li a{
    position: relative;
    text-decoration: none;
    color: #fff!important;
    /*letter-spacing: 1px;*/
    font-weight: 600;
    font-size: 17px;
    transition: 0.6s;
}

#home-nav {
    margin-top: 25px;
    margin-left: 5%;
    max-width: 90%;
    border-radius: 8px;
    background: rgba(0,0,255, 0.7);
    backdrop-filter: blur(10px);
    padding-left: 20px;
    padding-right: 20px;
    text-transform: lowercase!important;
}



@media (max-width: 1024px) {
    header{
        padding: 20px 20px;
        z-index: 100;
    }

    header.sticky {
        padding: 20px 20px;
    }

    header ul li a{
        margin: 0 10px;
        /*letter-spacing: 2px;*/
        font-weight: 600;
        font-size: 10px;
    }

}

.hero_vid {
    position: relative;
    width: 100%;
    height: 100vh;
    /*background: url("../images/img/carousel/wokober_14.jpg");*/
    /*background-size:cover ;*/
}

.vid-container{
    height: 100vh;
    overflow: hidden;
}

.vid-container video{
    min-width: 100%;
    min-height: 100%;
}

.hero_vid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background: radial-gradient(circle at center, rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.2)); /* Adjust the color and opacity as needed */
    z-index: 1; /* Adjust the z-index to control the overlay's stacking order */
    backdrop-filter: blur(2px);
}

.hero_caption {
    position: absolute;
    color: white!important;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 0 120px 100px;
    justify-content: end;
}

.hero_caption h3{
    color: white!important;
    font-weight: 400;
    font-size: 32px;
}


.arrow-scroll {
    position: relative;
    height: 4em;
    bottom: 95px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 12px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.arrow:nth-child(2) {
    animation: arrow1 1.5s ease-in-out infinite
}

.arrow:nth-child(3) {
    animation: arrow2 1.5s ease-in-out infinite
}

@keyframes scroll {
    0% {
        bottom: 80%;
        opacity: 1;
    }
    100% {
        bottom: 20%;
        opacity: 0;
    }
}

@keyframes arrow1 {
    100% {
        opacity: 0;
        top: 100%;
    }
}

@keyframes arrow2 {
    100% {
        opacity: 0;
        top: 50%;
    }
}

.animation-container{
    width: 100%;
    display: flex;
}

.sentence-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

.sentence {
    color: white!important;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    padding: 20px;
    white-space: nowrap;
    transform: translateX(-100%);
    animation: slideAnimation 2s ease-in-out forwards; /* Adjust the animation duration as needed */
}

@keyframes slideAnimation {
    to {
        transform: translateX(0);
    }
}

.block {
    align-self: center;
    width: 20px;
    height: 70%;
    background-color: #3498db; /* Adjust the background color as needed */
}

header.sticky ul li a{
    color: #333!important;
}

header.sticky .mobile-menu-icon {
        color: blue;
    }

br.sm_view,
br.md_view {
    display: none;
}

header.other_pages{
    position: relative;
    width: 100%!important;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

header.other_pages ul li a{
    color: #333!important;
}


header.other_pages.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

.other_pages .mobile-menu-icon {
    color: blue;
}

/***

====================================================================
	Page Title Style
====================================================================

***/

.page-title {
	position: relative;
	background-size: cover;
	background-attachment: fixed;
}

.page-title:before {
	position: absolute;
	content: '';
	background: rgba(29, 23, 71, 0.9);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.page-title .content-box {
	position: relative;
	padding: 115px 0;
}

.page-title h1 {
	color: #fff;
	font-size: 48px;
	font-family: var(--prata);
	text-align: center;
}

.page-title .text {
	position: relative;
	color: #fff;
	font-size: 20px;
	margin-bottom: 70px;
}

.page-title .bread-crumb {
	position: absolute;
	left: 0;
	bottom: -31px;
	background: #fff;
	padding: 15.5px 30px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
	z-index: 9;
}

.page-title .bread-crumb li {
	position: relative;
	font-size: 16px;
	color: #302c51;
	font-weight: 400;
	display: inline-block;
	padding-right: 20px;
	margin-right: 10px;
}

.page-title .bread-crumb li:before {
	position: absolute;
	content: '';
	right: 0;
	top: 0px;
	width: 1px;
	height: 30px;
	background: #eaeaea;
}

.page-title .bread-crumb li:last-child:before {
	display: none;
}

.page-title .bread-crumb li a {
	color: var(--theme-color);
	font-weight: 400;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}

.page-title .bread-crumb li a:hover {
	color: var(--theme-color);
}

.page-title .bread-crumb li a.home {
	font-size: 24px;
}



/***

====================================================================
	RESPONSIVENESS
====================================================================

***/
@media screen and (max-width: 1303px) {
    header.other_pages{
        padding: 20px 20px;
    }
}


@media screen and (max-width: 768px) {

    .navbar_custom {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start of the column */
    }

    .navbar_custom {
        display: none; /* Hide the links by default on smaller screens */
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; /* Adjust the distance from the top as needed */
        left: 0;
        background-color: #fff; /* Background color for the mobile menu */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
        z-index: 1; /* Ensure the menu is on top of other elements */
    }

    .navbar_custom.show {
        display: flex; /* Show the links when the mobile menu is active */

    }

    .navbar_custom ul {
        flex-direction: column;
    }

    .navbar_custom li {
        margin: 0; /* Remove right margin to stack items vertically */
        margin-bottom: 10px; /* Add spacing between the list items */
    }

    header ul li a{
        color: #333!important;
    }

    .mobile-menu-icon {
        display: block; /* Show the mobile menu icon */
    }

    .btn.donate_button {
        /*display: none;*/
        margin-top: 10px; /* Add spacing between the mobile menu icon and donate button */
    }


}


@media (max-width: 420px) {
    .hero_caption {
        padding: 0 0 120px 40px;
    }

    .sentence h3{
        line-height: 1.5;
        font-weight: 400;
        font-size: 24px;
        margin: 0;
        width: 300px;
    }
    br.sm_view{
        display: block;
    }

    .block {
        height: 80%;
    }

    header a img{
        width: 150px!important;
    }
}

@media screen and (min-width: 421px) and (max-width: 920px) {
    br.md_view{
        display: block;
    }

}

/*NEW NAV*/

nav{
  position: fixed;
  z-index: 99;
  width: 100%;

  background: rgba(255,255,255, 0.0);
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*.wrapper .logo a{*/
/*  color: #f2f2f2;*/
/*  font-size: 30px;*/
/*  font-weight: 600;*/
/*  text-decoration: none;*/
/*}*/
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #7f7f81;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #031065;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
    border-radius: 7px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #031065;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}