@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body{
    /*background: #000;*/
    min-height: 200vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%!important;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 100;
}

header.sticky {
    padding: 10px 100px;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}



.mobile-menu-icon {
    display: none;
    font-size: 44px;
    color: white;
    cursor: pointer;
}


.hero_logo{
    position: relative;
    transition: 0.6s;
}

.logo_img {
    transition: src 0.6s ease; /* Adjust the duration and timing function as needed */
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff!important;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    transition: 0.6s;
}


@media (max-width: 1024px) {
    header{
        padding: 20px 20px;
        z-index: 100;
    }

    header.sticky {
        padding: 20px 20px;
    }

    header ul li a{
        margin: 0 10px;
        /*letter-spacing: 2px;*/
        font-weight: 600;
        font-size: 10px;
    }

}

.hero_vid {
    position: relative;
    width: 100%;
    height: 84vh;
    /*background: url("../images/img/carousel/wokober_14.jpg");*/
    /*background-size:cover ;*/
}

.vid-container{
    height: 84vh;
    overflow: hidden;
}

.vid-container video{
    min-width: 100%;
    min-height: 100%;
}

.hero_vid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the color and opacity as needed */
    z-index: 1; /* Adjust the z-index to control the overlay's stacking order */
    backdrop-filter: blur(0px);
}

.hero_caption {
    position: absolute;
    color: white!important;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 0 120px 100px;
    justify-content: end;
}

.hero_caption h3{
    color: white!important;
    font-weight: 400;
    font-size: 32px;
}

.animation-container{
    width: 100%;
    display: flex;
}

.sentence-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

.sentence {
    color: white!important;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    padding: 20px;
    white-space: nowrap;
    transform: translateX(-100%);
    animation: slideAnimation 2s ease-in-out forwards; /* Adjust the animation duration as needed */
}

@keyframes slideAnimation {
    to {
        transform: translateX(0);
    }
}

.block {
    align-self: center;
    width: 20px;
    height: 70%;
    background-color: #3498db; /* Adjust the background color as needed */
}

header.sticky ul li a{
    color: #333!important;
}

header.sticky .mobile-menu-icon {
        color: blue;
    }

br.sm_view,
br.md_view {
    display: none;
}


@media (max-width: 420px) {
    .hero_caption {
        padding: 0 0 120px 40px;
    }

    .sentence h3{
        line-height: 1.5;
        font-weight: 400;
        font-size: 24px;
        margin: 0;
        width: 300px;
    }
    br.sm_view{
        display: block;
    }

    .block {
        height: 80%;
    }
}

@media screen and (min-width: 421px) and (max-width: 920px) {
    br.md_view{
        display: block;
    }

}


@media screen and (max-width: 768px) {
    .navbar_custom {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start of the column */
    }

    .navbar_custom {
        display: none; /* Hide the links by default on smaller screens */
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; /* Adjust the distance from the top as needed */
        left: 0;
        background-color: #fff; /* Background color for the mobile menu */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
        z-index: 1; /* Ensure the menu is on top of other elements */
    }

    .navbar_custom.show {
        display: flex; /* Show the links when the mobile menu is active */

    }

    .navbar_custom ul {
        flex-direction: column;
    }

    .navbar_custom li {
        margin: 0; /* Remove right margin to stack items vertically */
        margin-bottom: 10px; /* Add spacing between the list items */
    }

    header ul li a{
        color: #333!important;
    }

    .mobile-menu-icon {
        display: block; /* Show the mobile menu icon */
    }

    .btn.donate_button {
        display: none;
        margin-top: 10px; /* Add spacing between the mobile menu icon and donate button */
    }
}


header.other_pages{
    position: relative;
    width: 100%!important;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 10000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

header.other_pages ul li a{
    color: #333!important;
}


header.other_pages.sticky {
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 100px;
    /*padding: 10px 100px;*/
    /*background: #fff;*/
    /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/
}



/***

====================================================================
	Page Title Style
====================================================================

***/

.page-title {
	position: relative;
	background-size: cover;
	background-attachment: fixed;
}

.page-title:before {
	position: absolute;
	content: '';
	background: rgba(29, 23, 71, 0.9);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.page-title .content-box {
	position: relative;
	padding: 115px 0;
}

.page-title h1 {
	color: #fff;
	font-size: 48px;
	font-family: var(--prata);
	text-align: center;
}

.page-title .text {
	position: relative;
	color: #fff;
	font-size: 20px;
	margin-bottom: 70px;
}

.page-title .bread-crumb {
	position: absolute;
	left: 0;
	bottom: -31px;
	background: #fff;
	padding: 15.5px 30px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
	z-index: 9;
}

.page-title .bread-crumb li {
	position: relative;
	font-size: 16px;
	color: #302c51;
	font-weight: 400;
	display: inline-block;
	padding-right: 20px;
	margin-right: 10px;
}

.page-title .bread-crumb li:before {
	position: absolute;
	content: '';
	right: 0;
	top: 0px;
	width: 1px;
	height: 30px;
	background: #eaeaea;
}

.page-title .bread-crumb li:last-child:before {
	display: none;
}

.page-title .bread-crumb li a {
	color: var(--theme-color);
	font-weight: 400;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}

.page-title .bread-crumb li a:hover {
	color: var(--theme-color);
}

.page-title .bread-crumb li a.home {
	font-size: 24px;
}

