@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: none;
    font-family: Montserrat, sans-serif;
}

body{
    /*background: #000;*/
    height: 100vh;
    width: 100vw;
}

.hero_vid {
    padding: 0;
    position: relative;
    width: 100%;
    height: fit-content;
    /*background: url("../images/img/carousel/wokober_14.jpg");*/
    /*background-size:cover ;*/
}

.vid-container{
    height: fit-content;
    /*overflow: hidden;*/
}

.vid-container video{
    padding: 0;
    margin: 0;
    width: 100%;
    /*height: 100%;*/
    /*object-fit: cover;*/
}

.vid-caption-carousel{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.vid-caption-carousel .carousel-inner .carousel-item{
    position: relative;
    bottom:40px;
    height: 100%;
    width: 100%;
}

.vid-caption-carousel .carousel-inner .carousel-item .carousel-caption h2{
    font-size: 32px;
    color: white;
    font-weight: 600;
}

.hero-caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 40px;
    overflow: hidden;
}

.hero-caption h2{
    font-weight: 600;
    font-size: 40px;
    color: white;
}

.hero-caption h2{
    position: absolute;
    animation: slide-up 8s infinite;
}

@keyframes slide-up {
    0% {
        transform: translateY(250%);
    }
    10% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(240%);
    }
}


.hero_vid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background: radial-gradient(circle at center, rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.2)); /* Adjust the color and opacity as needed */
    z-index: 1; /* Adjust the z-index to control the overlay's stacking order */
    /*backdrop-filter: blur(2px);*/
}


.hero_caption {
    position: absolute;
    color: white!important;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 0 120px 100px;
    justify-content: end;
}

.hero_caption h3{
    color: white!important;
    font-weight: 600;
    font-size: 32px;
}


.arrow-scroll {
    position: relative;
    height: 4em;
    bottom: 95px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 12px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.arrow:nth-child(2) {
    animation: arrow1 1.5s ease-in-out infinite
}

.arrow:nth-child(3) {
    animation: arrow2 1.5s ease-in-out infinite
}

@keyframes scroll {
    0% {
        bottom: 80%;
        opacity: 1;
    }
    100% {
        bottom: 20%;
        opacity: 0;
    }
}

@keyframes arrow1 {
    100% {
        opacity: 0;
        top: 100%;
    }
}

@keyframes arrow2 {
    100% {
        opacity: 0;
        top: 50%;
    }
}

.animation-container{
    width: 100%;
    display: flex;
}

.sentence-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

.sentence {
    color: white!important;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    padding: 20px;
    white-space: nowrap;
    transform: translateX(-100%);
    animation: slideAnimation 2s ease-in-out forwards; /* Adjust the animation duration as needed */
}

@keyframes slideAnimation {
    to {
        transform: translateX(0);
    }
}

.block {
    align-self: center;
    width: 20px;
    height: 70%;
    background-color: #3498db; /* Adjust the background color as needed */
}

br.sm_view,
br.md_view {
    display: none;
}


.hero-stats{
    position: relative;
    top: -65px;
    z-index: 3;
}

.stat-item h3{
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
}

.stat-item .value{
    color: white;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 15px;
}

.stat-item p{
    color: white;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 15px;
}

.mini-cta h2{
    font-size: 23px;
    margin-bottom: 15px;
}


@media (min-width: 1570px) {
    .hero-stats{
    position: relative;
    top: -150px;
    z-index: 2;
}
    .hero_vid::before {
        height: 100%;
    }

    .vid-container{
    max-height: 828px;
    width: 100%;
        overflow: hidden;
    /*height: 100%;*/
    /*object-fit: cover;*/
}
}

@media (max-width: 760px) {
    .vid-container {
        margin-top: 100px;
    }

    .hero-stats{
    position: relative;
    top: -9px;
    z-index: 2;
}
}
/***

====================================================================
	Page Title Style
====================================================================

***/

.page-title {
	position: relative;
	background-size: cover;
	background-attachment: fixed;
}

.page-title:before {
	position: absolute;
	content: '';
	background: rgba(29, 23, 71, 0.9);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.page-title .content-box {
	position: relative;
	padding: 115px 0;
}

.page-title h1 {
	color: #fff;
	font-size: 48px;
	font-family: var(--prata);
	text-align: center;
}

.page-title .text {
	position: relative;
	color: #fff;
	font-size: 20px;
	margin-bottom: 70px;
}

.page-title .bread-crumb {
	position: absolute;
	left: 0;
	bottom: -31px;
	background: #fff;
	padding: 15.5px 30px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
	z-index: 9;
}

.page-title .bread-crumb li {
	position: relative;
	font-size: 16px;
	color: #302c51;
	font-weight: 400;
	display: inline-block;
	padding-right: 20px;
	margin-right: 10px;
}

.page-title .bread-crumb li:before {
	position: absolute;
	content: '';
	right: 0;
	top: 0px;
	width: 1px;
	height: 30px;
	background: #eaeaea;
}

.page-title .bread-crumb li:last-child:before {
	display: none;
}

.page-title .bread-crumb li a {
	color: var(--theme-color);
	font-weight: 400;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}

.page-title .bread-crumb li a:hover {
	color: var(--theme-color);
}

.page-title .bread-crumb li a.home {
	font-size: 24px;
}


/***

====================================================================
	ABOUT PAGE STYLES
====================================================================

***/

.section-padding{
    padding-block: 100px;
}

.about-page-main {
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;
    margin-bottom: 100px;
}

.bg-block {
    position: absolute;
    top: 0;
    left: 0;
    background: #f7f9ff;
    height: 100%;
    width: 30%;
    z-index: -10;
}


.about-page-title{
    margin-bottom: 30px;
}


.about-page-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.about-page-left {
    height: 500px;
    width: 32%;
}

.about-page-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.about-page-right{
    width: 65%;
}

.about-cause{
    display: flex;
    gap: 20px;
    color: white;
}

.about-cause-item {
    padding: 15px;
}

.about-cta {
    position: relative;
    width: 100%;
    background: blue;
    color: white;
    padding: 120px 0 80px 0;
    z-index: 1;
}

.about-cta h3{
 color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.about-cta h2{
 color: white;
    margin-bottom: 20px;
}

.about-cta p{
 color: white;
    margin: auto;
    max-width: 80%;
    margin-bottom: 20px;
}

.partner-btn {
    background: orange;
    color: white;
    padding: 15px;
    border: orange;
    margin-right: 15px;
}

.volunteer-btn {
    background: none;
    color: white;
    padding: 15px;
}

.sponsors-container{
}

.logo-container{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    justify-content: space-between;
}

.logo-icon {
    margin-block: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/***

====================================================================
	RESPONSIVENESS
====================================================================

***/


@media screen and (max-width: 768px) {

    .navbar_custom {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the start of the column */
    }

    .navbar_custom {
        display: none; /* Hide the links by default on smaller screens */
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; /* Adjust the distance from the top as needed */
        left: 0;
        background-color: #fff; /* Background color for the mobile menu */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
        z-index: 1; /* Ensure the menu is on top of other elements */
    }

    .navbar_custom.show {
        display: flex; /* Show the links when the mobile menu is active */

    }

    .navbar_custom ul {
        flex-direction: column;
    }

    .navbar_custom li {
        margin: 0; /* Remove right margin to stack items vertically */
        margin-bottom: 10px; /* Add spacing between the list items */
    }

    .btn.donate_button {
        /*display: none;*/
        margin-top: 10px; /* Add spacing between the mobile menu icon and donate button */
    }


}


@media (max-width: 420px) {
    .hero_caption {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        padding: 0 0 0 0;
    }

    .animation-container {
        position: absolute;
        height: 100vh;
        width: 100vw!important;
        top: 0;
        padding: 20px;
        background: rgba(0,0,0, 0.6);
    }

    .sentence{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        max-width: 100vw;
        word-wrap: break-word!important;
    }
    .sentence h3{
        line-height: 1.5;
        font-weight: 600;
        font-size: 50px;
        margin: 0;
        /*width: 300px;*/
        width: 100%;
        overflow-wrap: break-word!important;
        text-align: left;
    }

    br.sm_view{
        display: none;
    }

    .block {
        height: 80%;
        display: none;
    }

}

@media screen and (min-width: 421px) and (max-width: 920px) {
    br.md_view{
        display: block;
    }

}


.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}


.main-page{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}

.hide-menu {
    display: none;
}

.header{
    background: purple!important;
}

.navbar-toggle{
    margin-top: 7px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flaticon-menu {
    font-size: 30px;
}

.menu-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 450px) {

.donate-btn a{
    display: flex;
    justify-content: center;
    width: 100px!important;
    /*padding: 10px;*/
    margin-right: 70px;
}
}

.sticky-header-nav{
    background: rgba(255,255,255,0.6)!important;
    position: fixed!important;
    backdrop-filter: blur(7px);
    z-index: 20;
}

.sticky-nav{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: top 0.5s ease-in;
}


.drop-animation {
    animation: dropDown 1.2s ease; /* Define drop-down animation */
}

@keyframes dropDown {
    0% { top: -100px; } /* Start position off-screen */
    100% { top: 0; } /* End position at the top of the viewport */
}

.team-home{
    background: red;
    display: flex;

}
