/* Coolors Exported Palette - https://coolors.co/0036fc-5e8ffd-f5e2c8 */

// /* CSS HEX */
// --blue-ryb: #0036fcff;
// --cornflower-blue: #5e8ffdff;
// --champagne: #f5e2c8ff;

// /* CSS HSL */
// --blue-ryb: hsla(227, 100%, 49%, 1);
// --cornflower-blue: hsla(222, 98%, 68%, 1);
// --champagne: hsla(35, 69%, 87%, 1);

/* SCSS HEX */
$blue-ryb: #0036fcff;
$cornflower-blue: #5e8ffdff;
$champagne: #f5e2c8ff;

/* SCSS HSL */
$blue-ryb: hsla(227, 100%, 49%, 1);
$cornflower-blue: hsla(222, 98%, 68%, 1);
$champagne: hsla(35, 69%, 87%, 1);

/* SCSS RGB */
$blue-ryb: rgba(0, 54, 252, 1);
$cornflower-blue: rgba(94, 143, 253, 1);
$champagne: rgba(245, 226, 200, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0036fcff, #5e8ffdff, #f5e2c8ff);
$gradient-right: linear-gradient(90deg, #0036fcff, #5e8ffdff, #f5e2c8ff);
$gradient-bottom: linear-gradient(180deg, #0036fcff, #5e8ffdff, #f5e2c8ff);
$gradient-left: linear-gradient(270deg, #0036fcff, #5e8ffdff, #f5e2c8ff);
$gradient-top-right: linear-gradient(45deg, #0036fcff, #5e8ffdff, #f5e2c8ff);
$gradient-bottom-right: linear-gradient(135deg, #0036fcff, #5e8ffdff, #f5e2c8ff);
$gradient-top-left: linear-gradient(225deg, #0036fcff, #5e8ffdff, #f5e2c8ff);
$gradient-bottom-left: linear-gradient(315deg, #0036fcff, #5e8ffdff, #f5e2c8ff);
$gradient-radial: radial-gradient(#0036fcff, #5e8ffdff, #f5e2c8ff);

/* CSS HEX */
// --blue-ryb: #0a3fffff;
// --midnight-blue: #001666ff;

/* CSS HSL */
// --blue-ryb: hsla(227, 100%, 52%, 1);
// --midnight-blue: hsla(227, 100%, 20%, 1);

/* SCSS HEX */
$blue-ryb: #0a3fffff;
$midnight-blue: #001666ff;

/* SCSS HSL */
$blue-ryb: hsla(227, 100%, 52%, 1);
$midnight-blue: hsla(227, 100%, 20%, 1);

/* SCSS RGB */
$blue-ryb: rgba(10, 63, 255, 1);
$midnight-blue: rgba(0, 22, 102, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0a3fffff, #001666ff);
$gradient-right: linear-gradient(90deg, #0a3fffff, #001666ff);
$gradient-bottom: linear-gradient(180deg, #0a3fffff, #001666ff);
$gradient-left: linear-gradient(270deg, #0a3fffff, #001666ff);
$gradient-top-right: linear-gradient(45deg, #0a3fffff, #001666ff);
$gradient-bottom-right: linear-gradient(135deg, #0a3fffff, #001666ff);
$gradient-top-left: linear-gradient(225deg, #0a3fffff, #001666ff);
$gradient-bottom-left: linear-gradient(315deg, #0a3fffff, #001666ff);
$gradient-radial: radial-gradient(#0a3fffff, #001666ff);